<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="3.2.16" targetFramework="net462" developmentDependency="true" />
  <package id="homeseer" version="1.2.8" targetFramework="net462" />
  <package id="NullGuard.Fody" version="1.8.5" targetFramework="net462" developmentDependency="true" />
</packages>